<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    GET vs POST
    <fieldset>
        <legend> GET </legend>
        <form action="/user" method="GET">
            <input type="text" name="userName"  placeholder="Enter your name"/>
            <br>
            <br>
            <br>
            <input type="number" name="number" placeholder="Enter contact number"/>
            <br>
            <br>
            <br>
            <button type="submit"> Submit</button>
        </form>
    </fieldset>

    <fieldset>
        <legend> POST </legend>
        <form action="/user" method="POST">
            <input type="text" name="userName"  placeholder="Enter your name"/>
            <br>
            <br>
            <br>
            <input type="number" name="number" placeholder="Enter contact number"/>
            <br>
            <br>
            <br>
            <button type="submit"> Submit</button>
        </form>
    </fieldset>
   
</body>
</html>